:root {
  --main-color: rgba(33, 150, 243, 1);
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --gray-color: rgba(117, 117, 117, 1);
  --black-color: rgba(33, 33, 33, 1);
  --white-color: rgba(255, 255, 255, 1);
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

  
/*======== HEADER ========*/

.center {
  margin-left: auto;
  margin-right: auto;
}
 


body {
  font-family: var(--main-font);
  margin: 0% auto;
}

header{
  display: block;
}

.header {
  width: 1600px;
  border-bottom: 1px solid #ececec;
  background-color: var(--white-color);
}


.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto ;
}


.header-flex {
  display: flex;
}


.logo-first {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  color:var(--main-color);
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-first:hover{
  color: var(--main-color);
}

.logo-second {
  color: var(--black-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.navigation{
  padding-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.15;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
 
.nav-list {
  display: flex;
  gap: 46px;
}

.agency-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--black-color);
  text-decoration: none;
  letter-spacing: 0.02em;
}

.agency-link:hover {
  color: var(--main-color);
}

.portfolio-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color:var(--black-color);
  text-decoration: none;
  letter-spacing: 0.02em;
}

.portfolio-link:hover {
  color: var(--main-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--black-color);
  text-decoration: none;
  letter-spacing: 0.02em;
}

.contact-link:hover {
  color: var(--main-color);
}

.contact-list {
  display: flex;
  padding-left: 371px;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 50px;
}

.email-header {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  color: var(--gray-color);
  text-decoration: none
}

.email-header:hover {
  color: var(--main-color);
}

.phone-header {
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--gray-color);
text-decoration: none;
}

.phone-header:hover{
  color: var(--main-color);
}


/*======== END HEADER ========*/



/*======== MAIN INDEX ========*/


.background {
    width: 1600px;
    height: 600px;
    background:rgba(47, 48, 58, 1);
}    

.main-description {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  width: 696px;
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 30px;
}

 
.first-button {
  width: 200px;
    height: 50px;
    border: none;
    background: var(--main-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    display: block;
}

.mian {
  width: 1600px;
  background-color: var(--white-color);
}

.section {
  margin: 94px 0px 94px 0px;
}

.flex-first {
  display: flex;
  gap: 30px;
}

.text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--black-color);
  letter-spacing: 0.03em;
  margin: 0;
}

.text-lorem-ipsum {
  font-size: 14px;
  line-height: 1.7;
  color: var(--gray-color);
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
}

 
.main-section {
  padding-top: 0px;
}


.job-categories {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--black-color);
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin: 0;
}


.picture {
  display: flex;
  justify-content: space-between;
  gap: 30px;

}


.picture-one {
 background-image:url(images1.jpg);
  background-size: auto;
}

.picture-two {
  background-size: no-repeat;
}
.picture-three {
  background-image:url(images/images3.jpg);
  background-repeat: no-repeat;
}


 .workers {
  width: 1600px;
  height: 648px;
  background-color: rgba(245, 244, 250, 1);
 }

 .team-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--black-color);
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 50px;
 }
 
.team-list{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.john-doe {
  width: 270px;
  height: 368px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.team-john {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--black-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.work-john {
  font-size: 16px;
  line-height: 1.2;
  color: var(--gray-color);
  text-align: center;
  letter-spacing: 0.03em;
}


/*======== MAIN INDEX END ========*/





/*======== MAIN PORTFOLIO ========*/

.filter {
  background-color: var(--white-color);
  display: block;
}


.filter-boder {
  display: flex;
  gap: 8px;
  justify-content: center;
  list-style: none;
}


.filter-boder-button {
  width: 128px;
  height: 38px;
  border-radius: 4px;
  background: #F5F4FA;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 0px;
  text-transform: none
}

.filter-boder-button:hover {
  background-color: var(--main-color);
  color:var(--white-color);
}




.card-set {
display: flex;
flex-wrap: wrap;
list-style: none;
justify-content: space-between;
}

.item{
flex-basis: calc(100% / 2 * 30px)/3;
border: 1px solid var(--white-color);
}


.text-picture {
  margin: 20px 24px 20px 24px;
  font-size: 18px;
}

.subsection {
margin: 4px 24px 20px 24px;
font-size: 16px;
color: var(--gray-color);
}

/*======== MAIN PORTFOLIO END ========*/
 




/*======== FOOTER ========*/

.footer {
  width: 1600px;
  height: 252px;
  background-color: rgba(47, 48, 58, 1);
}

.footer-logo {
  padding-top: 60px;
  padding-bottom: 20px;
}

.logo-footer-one {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-color);
  text-decoration: none;
  letter-spacing: 0,03em;
}
.logo-footer-two {
  color: var(--white-color);
}

.footer-address {
  padding-bottom: 9px;
}

.address {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-email {
  padding-bottom: 9px;
}

.email {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color:rgba(255, 255, 255, 0.6);
}

.tel-footer {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color:rgba(255, 255, 255, 0.6) ;
}

.email-footer:hover{
  color: var(--main-color);
}

.tel-footer:hover {
  color: var(--main-color);
}

.logo-footer:hover{
  color: var(--main-color);
}
/*======== FOOTER END ========*/